# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
bin/

# Specific
.factorypath
*.log

rbr.cmd
ini.cmd

.vscode*
.vscode/*
ini.cmd
rbr.cmd
